[submodule "src/gvm-libs"]
	path = src/gvm-libs
	url = https://github.com/greenbone/gvm-libs.git
[submodule "src/gsa"]
	path = src/gsa
	url = https://github.com/greenbone/gsa.git
[submodule "src/gvmd"]
	path = src/gvmd
	url = https://github.com/greenbone/gvmd.git
[submodule "src/openvas-scanner"]
	path = src/openvas-scanner
	url = https://github.com/greenbone/openvas-scanner.git
[submodule "src/ospd-openvas"]
	path = src/ospd-openvas
	url = https://github.com/greenbone/ospd-openvas.git
[submodule "src/ospd"]
	path = src/ospd
	url = https://github.com/greenbone/ospd.git
[submodule "src/openvas-smb"]
	path = src/openvas-smb
	url = https://github.com/greenbone/openvas-smb.git
