[submodule "src/gvm-libs"]
	path = src/gvm-libs
	url = https://github.com/greenbone/gvm-libs.git
[submodule "src/gsa"]
	path = src/gsa
	url = https://github.com/greenbone/gsa.git
[submodule "src/gvmd"]
	path = src/gvmd
	url = https://github.com/greenbone/gvmd.git
[submodule "src/openvas-scanner"]
	path = src/openvas-scanner
	url = https://github.com/greenbone/openvas-scanner.git
