[Unit]
Description=Greenbone Security Assistant daemon (gsad)
After=network.target networking.service gvmd.service
Documentation=man:gsad(8)
ConditionKernelCommandLine=!recovery

[Service]
Type=forking
User=gvm
Group=gvm
PIDFile=/opt/gvm/var/run/gsad.pid
Environment=LD_LIBRARY_PATH=/opt/gvm/lib
ExecStart=/opt/gvm/sbin/gsad --listen 0.0.0.0 --port 9392 --mlisten=127.0.0.1 -m 9390
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
