Package: openvas
Version: 20.8.1
Architecture: amd64
Section: utils
Priority: optional
Depends: redis-server, nmap, snmp, gnutls-bin, postgresql, postgresql-contrib, libgpgme11, libical3, libradcli4, libssh-gcrypt-4, libmicrohttpd12, python3-pip, python3-distutils, xml-twig-tools, xsltproc
Maintainer: Lubin
Homepage: https://www.openvas.org/
Description: Open Vulnerability Assessment Scanner

